keras==2.4.3
tensorflow==2.4.1
streamlit-drawable-canvas==0.6.0
pandas==1.1.1
numpy==1.20.1
scikit-learn==0.24.1
scipy==1.5.2
seaborn==0.11.1
matplotlib==3.4.0
altair==4.0.1
shap==0.39.0
xgboost==1.0.0
bayesian-optimization==1.2.0
hyperopt==0.2.3
streamlit==0.78.0
Pillow==7.0.0
slickml==0.1.1
glmnet==2.2.1
plotly==4.9.0
graphviz==0.14
